<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Домашняя страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>
        <nav class="navbar fixed-top navbar-darl bg-dark">
            <div class="container-fluid">
                
                <li><a class="navbar-brand" href="#">Test1</a></li>
                <li><a class="navbar-brand" href="#">Test2</a></li>
                <li><a class="navbar-brand" href="#">Test3</a></li>
                
                </div>
              </nav>
              <div class="container">
                  <div class="row">
              <div class="col-md-4" style="margin-top:70px">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Dolor modi, consectetur, praesentium eius similique earum ad 
            quibusdam illo animi laboriosam deleniti beatae omnis velit eligendi. 
            Odio fugiat molestiae debitis doloribus.</p>
              </div>
              <div class="col-md-4" style="margin-top:70px">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Dolor modi, consectetur, praesentium eius similique earum ad 
            quibusdam illo animi laboriosam deleniti beatae omnis velit eligendi. 
            Odio fugiat molestiae debitis doloribus.</p>
            </div>
            <div class="col-md-4" style="margin-top:70px">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Dolor modi, consectetur, praesentium eius similique earum ad 
            quibusdam illo animi laboriosam deleniti beatae omnis velit eligendi. 
            Odio fugiat molestiae debitis doloribus.</p>
            </div>
            </div>
            </div>
</body>
</html>